<div class="simulation-inner component-inner">
  {{> component this}}
  {{#if active}}
  <div class="simulation-widget simulation-{{cid}} component-widget pin">
    <div class="simulation-graphic"role="list">
        <button class="start-simulation">{{ simulation.startSimulationText }}</button>
        <img class="simulation-disabled"/>
        {{#each _items}}
          {{@index}}
        {{/each}}
    </div>
  </div>
  {{/if}}
</div>
