<p>Issues detected with the following fields:</p>

{{#each errors}}
  <strong>{{name}}</strong>
  <span class="user-input-feedback"><em>{{#if userValue}}You have entered: "{{userValue}}"{{else}}You have not entered anything{{/if}}</em></span>
  <p>{{{message}}}</p>
  <br>
{{/each}}

