{{{_successBody}}}

<div class="notify-popup-buttons">
  <button class="confirm-success notify-popup-button notify-popup-prompt-button firstfocus lastfocus" data-event=""
    aria-label="OK" data-component-id="{{componentID}}">OK</button>
</div>
